<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{% static "Bootstrap16.04.css" %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

	<!-- jquery-->
	<script src="https://code.jquery.com/jquery-3.4.0.min.js" crossorigin="anonymous"></script>
	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js/infinite.min.js' %}"></script>

</head>

<body>
				<div class="col-md-12 bg-black" >
					<div class="row">

						<div class="col-md-1 ml-2 mt-4">

							</div>

						<div class="col-md-6 mt-5 mh-100 text" >
							<div class="col-sm-4" id="test">
							<H5 >Consulting</H5>

							<H2><b>Niklas Pettersson</b></H2>
						</div>
						</div>



						<script>

						$( document ).ready(function() {
				        $('#firsttext').fadeIn(1000);
				    });


									$(function() {

										$("#test").mouseover(function(){
											$("#con").css("color", "#00ccff");

											}, function(){
											$("#test").css("color", "white");
											$('#firsttext').hide();
											$('#secondtext').fadeIn(2000);

										});

									});

									$(function() {

										$("#hide").hover(function(){
											$(this).css("color", "#00ccff");
											}, function(){
											$(this).css("color", "white");
										});

										$("#hide").click(function(){
											$('#secondtext').hide(2000);
											$('#firsttext').fadeIn();

										});

									});

							</script>

						<div class="col-md-4 mt-4 mh-100 text2">
							<div class="row">
							<div class="col-md-3 mt-4 about" id="about">
							About
							</div>

							<div class="col-md-3 mt-4">
							Projects
							</div>

							<div class="col-md-3 mt-4">
							Other
							</div>

							<div class="col-md-3 mt-4">
							Language
							</div>

						</div>

<script>
$(function() {

	$("#about").mouseover(function(){
		$("#about").css("color", "#white");
		}, function(){
		$("#about").css("color", "#white");

	});

});

</script>
						</div>

					</div>

			<div class="col-sm-12 mh-100 mt-3 p-4 middle">

				<div class="row mt-4">
				<div class="col-sm-1">
				</div>
				<div class="col-sm-5 p-3 mt-5 text-white text-center h3" id="firsttext">
				You need to aim beyond what you are capable of.
				<br>You must develop a complete disregard for where your abilities end.<br>
				<br>Try to do things that you're incapable of... If you think you're incapable of running a company, make that your aim...
				<br>Make your vision of where you want to be a reality.<br><br>Nothing is impossible.
			</div>
			<div class="col-sm-5 p-3 mt-5 text-white text-center h3 secondtext" id="secondtext">
			Hello and welcome to my page!<br><br>
			I have passion for development and new ways of working.<br><br>
			Do you have a project where I could be of help?<br><br>
			You can find my contact details on the right side of the page.<br>
			<div class="hide mt-4 p-4" id="hide">
				<h6>Back</h6>
			</div>
		</div>
			<div class="col-sm-6 text-center">

				<div class="col-sm-12 border contact text-white p-2 secondtext" id="secondtext">
									Contact<br><br>
									Niklas Pettersson<br>
									E-mail: niclas.pettersson@hotmail<br>
									Phone: +358 503087183<br>
									Finland
				</div>
			</div>

	</div>
			</div>

				</div>

</body>

<style>
body {
  font-family: "Roboto", sans-serif;
	background-color: black;

	 }
.test {
	font-family: "Roboto", sans-serif;
	color: #A3A3A3;
	 }
	 .text {
	 	font-family: "Roboto", sans-serif;
	 	color: #A3A3A3;
	 	 }
	 .text2 {
	 	font-family: "Roboto", sans-serif;
	 	color: #A3A3A3;
	 	 }
	 .middle {
	 	font-family: "Roboto", sans-serif;
	 	background-color: black;
		height: 700px;
		color: #8A8A8A;
	 	 }

.pic {
	background: url("static/Pic.jpg") no-repeat;
	background-size: cover;

	object-fit: cover;
	border-radius: 5px;
}

.secondtext{
	display: none;
}
.contact {
	height: 600px;
	Width: 700px;
	border-radius: 5px;
}

</style>
</html>
